@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.main-content-area {
  padding: 60px 0;
}

.products-cart {
  padding: 0;
}
.products-cart .pr-cart-item {
  border-top: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 20px 0;
  width: 100%;
}
.products-cart .pr-cart-item .product-image {
  max-width: 200px;
}
.products-cart .pr-cart-item .product-image figure {
  margin: 0;
}
.products-cart .pr-cart-item .product-image figure img {
  max-width: 100%;
  height: auto;
}
.products-cart .pr-cart-item .product-name {
  padding-left: 20px;
  width: 550px;
}
.products-cart .pr-cart-item .product-name a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #333333;
  text-align: left;
}
.products-cart .pr-cart-item .price-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 182px;
}
.products-cart .pr-cart-item .price-field p {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  margin: auto;
}
.products-cart .pr-cart-item .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products-cart .pr-cart-item .quantity .quantity-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products-cart .pr-cart-item .quantity input[type=text] {
  max-width: 71px;
  float: right;
  outline: none;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-align: right;
  padding-right: 15px;
  padding-left: 10px;
}
.products-cart .pr-cart-item .quantity .btn-increase,
.products-cart .pr-cart-item .quantity .btn-reduce {
  border-radius: 50%;
}
.products-cart .pr-cart-item .quantity .btn-increase:hover,
.products-cart .pr-cart-item .quantity .btn-reduce:hover {
  border-radius: 50%;
  background: #ff2832;
}
.products-cart .pr-cart-item .quantity .btn-increase {
  margin-left: 19px;
}
.products-cart .pr-cart-item .quantity .btn-increase::before {
  content: "+";
}
.products-cart .pr-cart-item .quantity .btn-reduce::before {
  content: "-";
}
.products-cart .pr-cart-item .quantity .delete a.btn.btn-delete:hover {
  color: red !important;
}
.products-cart .pr-cart-item .delete {
  margin: auto 0;
}

.summary {
  padding: 25px 40px;
}
.summary .order-summary h4 {
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 18px;
  padding-bottom: 26px;
  margin-top: 0;
}
.summary .order-summary p {
  font-size: 14px;
  color: #555555;
  line-height: 30px;
  margin: 0;
}
.summary .order-summary p b {
  color: #333333;
  font-weight: 700;
  float: right;
}
.summary .order-summary .total-info {
  border-top: 1px solid #e6e6e6;
  margin-top: 20px;
  padding-top: 17px;
  font-size: 15px;
}
.summary .checkout-info {
  margin: auto;
}
.summary .checkout-info label,
.summary .checkout-info a {
  display: block;
}
.summary .checkout-info .btn-checkout {
  border: 0;
  border-radius: 0;
  background: #3b4a6b;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  margin: 12px 0 18px;
}
.summary .checkout-info .btn-checkout:hover {
  opacity: 0.8;
}
.summary .checkout-info .link-to-shop {
  color: #555555;
}
.summary .checkout-info .link-to-shop i {
  margin-left: 5px;
}
.summary .checkout-info .link-to-shop:hover {
  color: #3b4a6b;
  text-decoration: underline;
}
.summary .update-clear {
  margin: auto;
}
.summary .update-clear .btn {
  display: block;
  width: 100%;
  max-width: 249px;
  background-color: #f5f5f5;
  border-radius: 0;
  border: 1px solid #e6e6e6;
  color: #666666;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 9px;
  float: right;
  margin: 5px 0;
}
.summary .update-clear .btn:hover {
  background: #3b4a6b;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-advance-box {
  padding: 60px 0;
}
.single-advance-box .wrap-products {
  position: relative;
}
.single-advance-box .wrap-products .owl-item {
  padding: 12px;
}
.single-advance-box .wrap-products .owl-item .product.product-style-2 {
  height: inherit !important;
}
.single-advance-box .wrap-products .owl-item .product-thumnail img {
  -o-object-fit: cover;
     object-fit: cover;
}
.single-advance-box .wrap-products .owl-item .product-info a {
  color: #444444;
  font-size: 14px;
  line-height: 24px;
}
.single-advance-box .wrap-products .owl-nav button {
  border-radius: 50%;
  background: rgba(240, 212, 58, 0.6) !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 36px;
  height: 36px;
}
.single-advance-box .wrap-products .owl-nav button:hover {
  background: #F0D43A !important;
}
.single-advance-box .wrap-products .owl-nav button.owl-prev {
  left: -36px;
}
.single-advance-box .wrap-products .owl-nav button.owl-next {
  right: -36px;
}
.single-advance-box .wrap-products .owl-nav button.disabled {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_margin {
  margin: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.heading_container h2 {
  position: relative;
  font-weight: bold;
}
.heading_container h2 span {
  color: #f0d43a;
}
.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero_area .container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

.hero_social {
  position: absolute;
  top: 45%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hero_social a {
  color: #999;
  margin: 5px 0;
}
.hero_social a:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: all 4ms;
  transition: all 4ms;
}

.sub_page .hero_area {
  min-height: auto;
  border-radius: 0 0 45px 0;
  padding-left: 0;
}
.sub_page .header_section {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

.header_section {
  padding: 15px 0;
}
.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  color: #000000;
  font-size: 24px;
}

.custom_nav-container {
  padding: 0;
}
.custom_nav-container .navbar-nav {
  margin: auto;
}
.custom_nav-container .navbar-nav .nav-item {
  margin: 0 30px;
}
.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 25px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: var(--primary);
  background-color: #ffffff;
  border-bottom: 1px solid var(--primary);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.custom_nav-container .navbar-nav .nav-item .dropdown .btn:hover {
  border-color: #ffffff;
}
.custom_nav-container .navbar-nav .nav-item .dropdown:hover .dropdown-menu {
  display: block;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  height: 42px;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 37px;
}
.custom_nav-container .navbar-toggler span {
  background-color: #000000;
  border-radius: 5px;
  display: block;
  height: 4px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transition: all 0.3s;
  width: 35px;
  position: relative;
}
.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  background-color: #000000;
  border-radius: 5px;
  height: 100%;
  left: 0;
  width: 100%;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
}
.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.custom_nav-container .navbar-toggler[aria-expanded=true] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.custom_nav-container .navbar-toggler[aria-expanded=true] span::before, .custom_nav-container .navbar-toggler[aria-expanded=true] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] .s-2 {
  display: none;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}
.custom_nav-container .navbar-toggler[aria-expanded=false] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded=false] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded=false] .s-3 {
  -webkit-transform: none;
          transform: none;
}

.user_option-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user_option-box a {
  color: #000000;
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 17px;
}
.user_option-box a:hover {
  color: #3b4a6b;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0d43a;
  border-radius: 0 0 0 250px;
  background: #3b4a6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  padding: 45px 0;
}
.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
  padding-left: 45px;
}
.slider_section .detail-box {
  color: #ffffff;
}
.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 15px;
}
.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 185px;
}
.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 12px 15px;
  background-color: #e6c511;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #e6c511;
}
.slider_section .detail-box .btn-box .btn1:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.slider_section .img-box img {
  width: 100%;
}
.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}
.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 1;
}
.slider_section .carousel-indicators li.active {
  width: 23px;
  height: 23px;
  background-color: #f0d43a;
}

.shop_section .heading_container {
  margin-bottom: 20px;
}
.shop_section .shop_slick {
  overflow: hidden;
  position: relative;
}
.shop_section .shop_slick .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop_section .shop_slick .slick-arrow {
  position: absolute;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  background: none;
  padding: 30px;
}
.shop_section .shop_slick .slick-arrow:hover {
  background: var(--warning);
  border-radius: 50%;
  -webkit-transform: translateX(4px 1s);
          transform: translateX(4px 1s);
}
.shop_section .shop_slick .pull-left {
  left: 0;
}
.shop_section .shop_slick .pull-right {
  right: 0;
}
.shop_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}
.shop_section .btn-box a {
  display: inline-block;
  padding: 10px 50px;
  background-color: #f0d43a;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f0d43a;
}
.shop_section .btn-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.card {
  border: none;
  background-color: #faf9fa;
  position: relative;
  padding: 30px 15px;
  margin: 25px 0;
  border-radius: 15px;
  overflow: hidden;
}
.card:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 8px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 8px 0 rgba(0, 0, 0, 0.19);
}
.card a {
  color: #000000;
}
.card .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 245px;
}
.card .img-box img {
  max-width: 100%;
  max-height: 175px;
}
.card .detail-box h6 span {
  color: #3b4a6b;
  font-weight: 600;
}
.card .new {
  padding: 7px 15px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0d43a;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.about_section {
  background-color: #3b4a6b;
  color: #ffffff;
}
.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about_section .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about_section .img-box img {
  width: 100%;
  max-width: 375px;
}
.about_section .detail-box p {
  margin-top: 15px;
}
.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f0d43a;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f0d43a;
  margin-top: 15px;
}
.about_section .detail-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.feature_section {
  display: none;
  text-align: center;
}
.feature_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature_section .box {
  margin-top: 45px;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25), -2px -2px 3px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25), -2px -2px 3px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.feature_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 15px 0;
}
.feature_section .box .img-box img {
  width: 75px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.feature_section .box .detail-box {
  margin-top: 15px;
}
.feature_section .box .detail-box h5 {
  font-weight: bold;
  position: relative;
}
.feature_section .box .detail-box a {
  color: inherit;
}
.feature_section .box:hover {
  background-color: #3b4a6b;
  color: #ffffff;
}
.feature_section .box:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.feature_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}
.feature_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f0d43a;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f0d43a;
}
.feature_section .btn-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.contact_section {
  padding-top: 90px;
  position: relative;
}
.contact_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_section form {
  margin-top: 45px;
}
.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #000000;
  border: 1px solid #a5a5a5;
}
.contact_section input::-webkit-input-placeholder {
  color: #1c1b1b;
}
.contact_section input::-moz-placeholder {
  color: #1c1b1b;
}
.contact_section input:-ms-input-placeholder {
  color: #1c1b1b;
}
.contact_section input::-ms-input-placeholder {
  color: #1c1b1b;
}
.contact_section input::placeholder {
  color: #1c1b1b;
}
.contact_section input.message-box {
  height: 120px;
}
.contact_section button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 65px;
  background-color: #f0d43a;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f0d43a;
  color: #fff;
  margin-top: 10px;
}
.contact_section button:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.contact_section .img-box img {
  width: 100%;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0;
  text-align: center;
  background-color: #3b4a6b;
  color: #ffffff;
  border-radius: 15px;
  padding: 25px;
}
.client_section .box .img-box {
  width: 125px;
  height: 125px;
  min-width: 125px;
  position: relative;
  border: 2px dashed #f0d43a;
  border-radius: 100%;
  padding: 5px;
  margin-bottom: 15px;
}
.client_section .box .img-box img {
  width: 100%;
  border-radius: 100%;
}
.client_section .box .client_info .client_name h5 {
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}
.client_section .box .client_info .client_name h6 {
  color: #f0d43a;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
}
.client_section .box .client_info i {
  font-size: 24px;
}
.client_section .box p {
  margin-top: 15px;
}
.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  padding: 0 15px;
}
.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 45px;
  height: 45px;
  background-color: #f0d43a;
  color: #ffffff;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  margin: 0 5px;
}

.footer_section {
  background-color: #3b4a6b;
  color: #ffffff;
  padding-top: 60px;
}
.footer_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}
.footer_section .footer-col {
  margin-bottom: 30px;
}
.footer_section .footer_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}
.footer_section .footer_contact .contact_link_box a i {
  margin-right: 5px;
}
.footer_section .footer_contact .contact_link_box a:hover {
  color: #f0d43a;
}
.footer_section .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
.footer_section .footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3b4a6b;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin-right: 5px;
  font-size: 18px;
}
.footer_section .footer_social a:hover {
  color: #f0d43a;
}
.footer_section form input {
  border: none;
  padding: 10px;
  background-color: #4d618c;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}
.footer_section form input::-webkit-input-placeholder {
  color: #ffffff;
}
.footer_section form input::-moz-placeholder {
  color: #ffffff;
}
.footer_section form input:-ms-input-placeholder {
  color: #ffffff;
}
.footer_section form input::-ms-input-placeholder {
  color: #ffffff;
}
.footer_section form input::placeholder {
  color: #ffffff;
}
.footer_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #f0d43a;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f0d43a;
  margin-top: 15px;
}
.footer_section form button:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.footer_section .map_container {
  width: 100%;
  height: 225px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.footer_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer_section .map_container .map #googleMap {
  height: 100%;
}
.footer_section .footer-info {
  text-align: center;
}
.footer_section .footer-info p {
  padding: 25px 0;
  margin: 0;
}
.footer_section .footer-info p a {
  color: inherit;
}

.product-list img {
  max-width: 100%;
}
.product-list .nav-item:hover {
  background: #ffc107;
  border-radius: 5px;
}

.main-site .wrap-breadcrumb ul {
  padding: 0;
  text-align: left;
}
.main-site .wrap-breadcrumb ul li {
  display: inline-block;
  list-style: none;
  text-align: left;
}
.main-site .wrap-breadcrumb ul li:not(:last-child)::after {
  content: "/";
  font-size: 13px;
  color: #222222;
  padding-left: 11px;
  padding-right: 11px;
}
.main-site .wrap-breadcrumb ul a {
  font-size: 13px;
  color: #666666;
  text-transform: uppercase;
}
.main-site .wrap-breadcrumb ul span {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
}

.wrap-product-detail .detail-media {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.wrap-product-detail .detail-media .product-gallery {
  display: inline-block;
}

.wrap-product-detail .detail-media .product-gallery .owl-nav {
display: none;
}

.wrap-product-detail .detail-media .product-gallery .flex-direction-nav {
  display: none;
}
@media (min-width:1200px){
  .advance-info { 
    padding-top: 200px;
  }
}

.wrap-product-detail .detail-media ul {
  list-style: none;
  padding: 0;
}
.wrap-product-detail .detail-media ul li {
  max-width: 100%;
  /* height: 470px; */
  margin-right: 0px;
  float: left;
}
.wrap-product-detail .detail-media ul li img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap-product-detail .detail-info {
  display: inline-block;
  width: 45.9770114943%;
  padding-left: 30px;
  padding-top: 30px;
}
.wrap-product-detail .detail-info .product-name {
  font-size: 16px;
  color: #222222;
  line-height: 18px;
  margin: 0;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.wrap-product-detail .detail-info .wrap-price {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.wrap-product-detail .detail-info .wrap-price .product-price {
  font-size: 22px;
  line-height: 18px;
  display: inline-block;
  margin: 0;
}
.wrap-product-detail .detail-info .stock-info p {
  font-size: 13px;
  line-height: 28px;
  color: #666666;
  text-align: left;
}
.wrap-product-detail .detail-info .stock-info p b {
  color: #ff2832;
}
.wrap-product-detail .detail-info .quantity > span {
  display: block;
  font-size: 13px;
  line-height: 24px;
  color: #333333;
}
.wrap-product-detail .detail-info .quantity .quantity-input {
  display: inline-block;
  width: 142px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-top: 4px;
  font-size: 0;
  text-align: left;
}
.wrap-product-detail .detail-info .quantity .quantity-input .quantity-input input {
  display: block;
  border: none;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  height: 36px;
  width: 63px;
  text-align: center;
  float: left;
  padding: 0 3px;
  border: none;
  border-radius: 3px;
}
.wrap-product-detail .detail-info .quantity .quantity-input .btn {
  display: block;
  width: 26px;
  height: 26px;
  font-size: 0;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  margin-top: 5px;
  position: relative;
  border-radius: 50%;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  float: left;
}
.wrap-product-detail .detail-info .quantity .quantity-input .btn::before {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #666666;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.wrap-product-detail .detail-info .quantity .quantity-input .btn-increase {
  margin-left: 1px;
  margin-right: 10px;
}
.wrap-product-detail .detail-info .quantity .quantity-input .btn-increase::after {
  content: "";
  width: 2px;
  height: 12px;
  background-color: #666666;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.wrap-product-detail .detail-info .wrap-butons {
  display: inline-block;
  max-width: 269px;
  width: 100%;
  padding-top: 30px;
}
.wrap-product-detail .detail-info .wrap-butons .add-to-cart {
  display: block;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 34px;
  font-weight: 600;
  color: #666666;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  padding: 4.5px 10px;
  text-align: center;
}
.wrap-product-detail .detail-info .wrap-butons .add-to-cart:hover {
  color: #fff;
}
.wrap-product-detail .detail-info .wrap-btn .btn {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 40px;
  color: #888888;
  text-transform: capitalize;
}
.wrap-product-detail .detail-info .wrap-btn .btn::before {
  content: "\f079";
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  display: inline-block;
  margin-right: 6px;
}
.wrap-product-detail .detail-info .wrap-btn .btn .btn-wishlist {
  text-align: right;
  float: right;
}
.wrap-product-detail .advance-info .tab-control,
.wrap-product-detail .advance-info .tab-contents {
  display: inline-block;
  width: 100%;
  float: left;
}
.wrap-product-detail .advance-info .tab-control a {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  font-weight: 600;
  background-color: #f5f5f5;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  text-transform: uppercase;
  padding: 6px 18px;
  margin-right: 5px;
  margin-bottom: -1px;
}
.wrap-product-detail .advance-info .tab-control a .active {
  font-weight: 700;
  padding-bottom: 7px;
  color: #ffffff;
}
.wrap-product-detail .advance-info .tab-contents {
  position: relative;
  border: 1px solid #e6e6e6;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item {
  padding: 12px 16px 5px 16px;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item p {
  font-size: 14px;
  color: #888888;
  line-height: 20px;
  margin-bottom: 20px;
}

.wrap-product-detail .advance-info .tab-contents .tab-content-item p textarea {
  width: 100%;
}

.wrap-product-detail .advance-info .tab-contents .tab-content-item p input#submit {
  background: #3b4a6b;
  border-color: #3b4a6b;
  color: white;
}

.wrap-product-detail .advance-info .tab-contents .tab-content-item p input#submit:hover {
  opacity: 0.8;
}

.wrap-product-detail .advance-info .tab-contents .tab-content-item #comments .woocommerce-Reviews-title {
  font-size: 15px;
  font-weight: 600;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #comments .woocommerce-Reviews-title span {
  font-weight: 400;
  font-style: italic;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #comments .commentlist {
  padding: 0;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #comments .commentlist li {
  list-style: none;
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #comments .commentlist li .comment_container img {
  max-width: 80px;
  float: left;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #comments .commentlist li .comment_container .comment-text {
  float: left;
  width: calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  padding-left: 15px;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #comments .commentlist li .comment_container .comment-text .star-rating {
  font-size: 0;
  position: relative;
  display: inline-block;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #comments .commentlist li .comment_container .comment-text .star-rating span {
  display: inline-block;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 80%;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #comments .commentlist li .comment_container .meta {
  margin-bottom: 8px;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form {
  display: inline-block;
  width: 100%;
}

.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form #respond #commentform {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form .comment-form p > label {
  display: block;
  font-size: 14px;
  color: #666666;
  font-weight: 400;
}


.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form .comment-form p .form-submit input[type=submit] {
  max-width: 115px;
  border: 0;
  border-radius: 0;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 9px;
  width: 100%;
  margin-bottom: 15px;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form .comment-form p .form-submit input[type=submit]:hover {
  background-color: #333333;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form .comment-form p textarea[name=comment] {
  display: block;
  width: 100%;
  border: 1px solid #e6e6e6;
  outline: none;
  padding: 10px;
  margin-bottom: 17px;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form .comment-form p input[type=text],
.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form .comment-form p input[type=email] {
  display: block;
  width: 100%;
  border: 1px solid #e6e6e6;
  outline: none;
  height: 39px;
  padding: 2px 10px;
  margin-bottom: 17px;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form .comment-form .comment-form-rating span {
  font-size: 14px;
  line-height: 20px;
  display: block;
  float: left;
  margin-right: 7px;
  color: #666;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form .comment-form .comment-form-rating .stars label {
  display: block;
  float: left;
  margin: 0;
  padding: 0 2px;
}

.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form .comment-form .comment-form-rating .stars input {
  display: none;
}

.wrap-product-detail .advance-info .tab-contents .tab-content-item #review_form_wrapper #review_form .comment-form .comment-form-rating .stars label::before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 15px;
  color: #efce4a;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item .shop_attributes {
  width: 100%;
  margin-bottom: 10px;
}
.wrap-product-detail .advance-info .tab-contents .tab-content-item .shop_attributes th,
.wrap-product-detail .advance-info .tab-contents .tab-content-item .shop_attributes td {
  font-size: 15px;
  line-height: 24px;
  padding: 10px;
  border-left: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  color: #333;
  font-weight: 600;
}

.sitebar ul {
  list-style: none;
  padding: 0;
}
.sitebar ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 16px 0;
  margin-bottom: 13px;
}
.sitebar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sitebar ul li a i {
  font-size: 40px;
  color: red;
}
.sitebar ul li a .right-content {
  color: #333;
}
.sitebar ul li a .right-content b {
  font-size: 14px;
  text-transform: uppercase;
}
.sitebar ul li a .right-content p {
  font-size: 13px;
  margin: 0;
}
.sitebar ul li a .right-content p span {
  font-size: 14px;
  color: #666666;
}
.sitebar .widget-product a {
  color: #444444;
  font-size: 14px;
  line-height: 24px;
}
.sitebar .widget-product a figure {
  max-width: 100%;
}
.sitebar .widget-product a figure img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sitebar .widget-product .wrap-price {
  font-weight: 700;
  color: #222222;
}

.product-category {
  padding: 60px 0;
  border-top: 1px solid rgba(130, 130, 130, 0.6);
}
.product-category #categories-widget {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.product-category .categories-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-category .categories-widget .widget-content .list-category {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.product-category .categories-widget .widget-content .list-category .category-item {
  list-style: none;
  margin-right: 8px;
}
.product-category .categories-widget .widget-content .list-category .category-item .cat-link {
  color: #828282;
  background: rgba(240, 212, 58, 0.6);
  border-radius: 5px;
  padding: 6px;
}
.product-category .categories-widget .widget-content .list-category .category-item .cat-link:hover {
  color: #ffffff;
  background: #f0d43a;
}
.product-category .categories-widget .widget-content .list-category .category-item .cat-link#clear {
  background: rgba(255, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
}
.product-category .categories-widget .widget-content .list-category .category-item .cat-link#clear:hover {
  background: rgba(255, 0, 0, 0.9);
  color: #ffffff;
}

.image-product-index {
  height: 223px;
}

.image-product-index img {
  height: 100%;
  object-fit: contain;
}