.main-content-area {
  padding: 60px 0;
}

.products-cart {
  padding: 0;

  .pr-cart-item {
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px 0;
    width: 100%;

    .product-image {
      max-width: 200px;

      figure {
        margin: 0;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .product-name {
      padding-left: 20px;
      width: 550px;

      a {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: #333333;
        text-align: left;
      }
    }

    .price-field {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 182px;

      p {
        color: #222222;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        margin: auto;
      }
    }

    .quantity {
      display: flex;
      align-items: center;

      .quantity-input {
        display: flex;
      }

      input[type=text] {
        max-width: 71px;
        float: right;
        outline: none;
        height: 37px;
        font-size: 16px;
        line-height: 20px;
        color: #222222;
        text-align: right;
        padding-right: 15px;
        padding-left: 10px;
      }

      .btn-increase,
      .btn-reduce {
        border-radius: 50%;

        &:hover {
          border-radius: 50%;
          background: #ff2832;
        }
      }

      .btn-increase {
        margin-left: 19px;

        &::before {
          content: "+";
        }
      }

      .btn-reduce {
        &::before {
          content: "-";
        }
      }

      .delete {
        a.btn.btn-delete {
          &:hover {
            color: red !important;
          }
        }
      }
    }

    .delete {
      margin: auto 0;
    }
  }
}

.summary {
  padding: 25px 40px;

  .order-summary {
    h4 {
      font-size: 14px;
      color: #333333;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 18px;
      padding-bottom: 26px;
      margin-top: 0;
    }

    p {
      font-size: 14px;
      color: #555555;
      line-height: 30px;
      margin: 0;

      b {
        color: #333333;
        font-weight: 700;
        float: right;
      }
    }

    .total-info {
      border-top: 1px solid #e6e6e6;
      margin-top: 20px;
      padding-top: 17px;
      font-size: 15px;
    }
  }

  .checkout-info {
    margin: auto;

    label,
    a {
      display: block;
    }

    .btn-checkout {
      border: 0;
      border-radius: 0;
      background: #3b4a6b;
      color: #ffffff;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      padding: 10px;
      margin: 12px 0 18px;

      &:hover {
        opacity: .8;
      }
    }

    .link-to-shop {
      color: #555555;

      i {
        margin-left: 5px;
      }

      &:hover {
        color: #3b4a6b;
        text-decoration: underline;
      }
    }

  }

  .update-clear {
    margin: auto;
    .btn {
      display: block;
      width: 100%;
      max-width: 249px;
      background-color: #f5f5f5;
      border-radius: 0;
      border: 1px solid #e6e6e6;
      color: #666666;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 9px;
      float: right;
      margin: 5px 0;

      &:hover {
        background: #3b4a6b;
        color: #fff;
        transition: .5s;
      }
    }
  }
}